In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

In [3]:
import pandas as pd
A = pd.read_csv("D:/Downloads/new/Attrition_Case_Study.csv")

In [4]:
A.head()

,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,0,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,1,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,0,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,0,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition                 1470 non-null   int64
 1   Age                       1470 non-null   int64
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(27), object(8)
memory usage: 402.1+ KB

In [6]:
A.isna().sum()

Attrition                   0
Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
Y = A[["Attrition"]]
X = A.drop(labels=["Attrition"],axis=1)

In [8]:
cat = []
con = []
for i in X.columns:
    if(X[i].dtypes == "object"):
        cat.append(i)
    else:
        con.append(i)

In [9]:
X[cat].head()

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes
3,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Y,Yes
4,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,Y,No

In [10]:
X[con].head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,1,1,2,94,3,2,...,1,80,0,8,0,1,6,4,0,5
1,49,279,8,1,1,2,3,61,2,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1373,2,2,1,4,4,92,2,1,...,2,80,0,7,3,3,0,0,0,0
3,33,1392,3,4,1,5,4,56,3,1,...,3,80,0,8,3,3,8,7,3,0
4,27,591,2,1,1,7,1,40,3,1,...,4,80,1,6,3,3,2,2,2,2

In [11]:
def ANOVA(df,cat,con):
    from pandas import DataFrame
    from statsmodels.formula.api import ols
    rel = con + " ~ " + cat
    model = ols(rel,df).fit()
    from statsmodels.stats.anova import anova_lm
    anova_results = anova_lm(model)
    Q = DataFrame(anova_results)
    a = Q['PR(>F)'][cat]
    return round(a,3)

In [12]:
imp_con_cols = []
for i in con:
    print("========= Attrition vs ",i,"===========")
    x = ANOVA(A,"Attrition",i)
    print(x)
    if(x < 0.05):
        imp_con_cols.append(i)

========= Attrition vs  Age ===========
0.0
========= Attrition vs  DailyRate ===========
0.03
========= Attrition vs  DistanceFromHome ===========
0.003
========= Attrition vs  Education ===========
0.229
========= Attrition vs  EmployeeCount ===========
0.403
========= Attrition vs  EmployeeNumber ===========
0.685
========= Attrition vs  EnvironmentSatisfaction ===========
0.0
========= Attrition vs  HourlyRate ===========
0.793
========= Attrition vs  JobInvolvement ===========
0.0
========= Attrition vs  JobLevel ===========
0.0
========= Attrition vs  JobSatisfaction ===========
0.0
========= Attrition vs  MonthlyIncome ===========
0.0
========= Attrition vs  MonthlyRate ===========
0.561
========= Attrition vs  NumCompaniesWorked ===========
0.096
========= Attrition vs  PercentSalaryHike ===========
0.606
========= Attrition vs  PerformanceRating ===========
0.912
========= Attrition vs  RelationshipSatisfaction ===========
0.079
========= Attrition vs  StandardHours ===========
0.212
========= Attrition vs  StockOptionLevel ===========
0.0
========= Attrition vs  TotalWorkingYears ===========
0.0
========= Attrition vs  TrainingTimesLastYear ===========
0.023
========= Attrition vs  WorkLifeBalance ===========
0.014
========= Attrition vs  YearsAtCompany ===========
0.0
========= Attrition vs  YearsInCurrentRole ===========
0.0
========= Attrition vs  YearsSinceLastPromotion ===========
0.206
========= Attrition vs  YearsWithCurrManager ===========
0.0

In [13]:
imp_con_cols

['Age',
 'DailyRate',
 'DistanceFromHome',
 'EnvironmentSatisfaction',
 'JobInvolvement',
 'JobLevel',
 'JobSatisfaction',
 'MonthlyIncome',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsWithCurrManager']

In [14]:
for i in cat:
    print("========= Attrition vs",i, "===========\n")
    print(pd.crosstab(A.Attrition,A[i]))
    print("\n")

========= Attrition vs BusinessTravel ===========

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
0                      138                208            887
1                       12                 69            156


========= Attrition vs Department ===========

Department  Human Resources  Research & Development  Sales
Attrition
0                        51                     828    354
1                        12                     133     92


========= Attrition vs EducationField ===========

EducationField  Human Resources  Life Sciences  Marketing  Medical  Other  \
Attrition
0                            20            517        124      401     71
1                             7             89         35       63     11

EducationField  Technical Degree
Attrition
0                            100
1                             32


========= Attrition vs Gender ===========

Gender     Female  Male
Attrition
0             501   732
1              87   150


========= Attrition vs JobRole ===========

JobRole    Healthcare Representative  Human Resources  Laboratory Technician  \
Attrition
0                                122               40                    197
1                                  9               12                     62

JobRole    Manager  Manufacturing Director  Research Director  \
Attrition
0               97                     135                 78
1                5                      10                  2

JobRole    Research Scientist  Sales Executive  Sales Representative
Attrition
0                         245              269                    50
1                          47               57                    33


========= Attrition vs MaritalStatus ===========

MaritalStatus  Divorced  Married  Single
Attrition
0                   294      589     350
1                    33       84     120


========= Attrition vs Over18 ===========

Over18        Y
Attrition
0          1233
1           237


========= Attrition vs OverTime ===========

OverTime    No  Yes
Attrition
0          944  289
1          110  127

In [15]:
from scipy.stats import chi2_contingency
for i in cat:
    ct = pd.crosstab(A.Attrition,A[i],normalize="index")
    a,b,c,d = chi2_contingency(ct)
    print(i,round(b,4))

BusinessTravel 0.9712
Department 0.9871
EducationField 1.0
Gender 0.163
JobRole 1.0
MaritalStatus 0.9479
Over18 1.0
OverTime 0.3101

In [18]:
imp_con_cols.extend(["OverTime","Gender"])

In [19]:
imp_con_cols

['Age',
 'DailyRate',
 'DistanceFromHome',
 'EnvironmentSatisfaction',
 'JobInvolvement',
 'JobLevel',
 'JobSatisfaction',
 'MonthlyIncome',
 'StockOptionLevel',
 'TotalWorkingYears',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'YearsAtCompany',
 'YearsInCurrentRole',
 'YearsWithCurrManager',
 'OverTime',
 'Gender']

In [20]:
from preprocessing_6PM import data_prep
Xnew = data_prep(X[imp_con_cols])

In [21]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(Xnew,Y,test_size=0.2,random_state=21)

In [23]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score

In [24]:
def model(mobj):
    model = mobj.fit(xtrain,ytrain)
    pred_tr = model.predict(xtrain)
    tr_acc = accuracy_score(ytrain,pred_tr)
    pred_ts = model.predict(xtest)
    ts_acc = accuracy_score(ytest,pred_ts)
    return round(tr_acc,3),round(ts_acc,3),mobj

In [25]:
lr = LogisticRegression()
model(lr)

(0.862, 0.878, LogisticRegression())

In [26]:
Q = []
for i in range(2,20):
    dtc = DecisionTreeClassifier(random_state=21,max_depth=i)
    Q.append(model(dtc))

In [27]:
Q

[(0.843, 0.85, DecisionTreeClassifier(max_depth=2, random_state=21)),
 (0.861, 0.864, DecisionTreeClassifier(max_depth=3, random_state=21)),
 (0.874, 0.844, DecisionTreeClassifier(max_depth=4, random_state=21)),
 (0.895, 0.847, DecisionTreeClassifier(max_depth=5, random_state=21)),
 (0.914, 0.854, DecisionTreeClassifier(max_depth=6, random_state=21)),
 (0.929, 0.84, DecisionTreeClassifier(max_depth=7, random_state=21)),
 (0.94, 0.827, DecisionTreeClassifier(max_depth=8, random_state=21)),
 (0.952, 0.786, DecisionTreeClassifier(max_depth=9, random_state=21)),
 (0.969, 0.82, DecisionTreeClassifier(max_depth=10, random_state=21)),
 (0.982, 0.806, DecisionTreeClassifier(max_depth=11, random_state=21)),
 (0.99, 0.806, DecisionTreeClassifier(max_depth=12, random_state=21)),
 (0.995, 0.793, DecisionTreeClassifier(max_depth=13, random_state=21)),
 (0.998, 0.796, DecisionTreeClassifier(max_depth=14, random_state=21)),
 (0.999, 0.796, DecisionTreeClassifier(max_depth=15, random_state=21)),
 (1.0, 0.796, DecisionTreeClassifier(max_depth=16, random_state=21)),
 (1.0, 0.796, DecisionTreeClassifier(max_depth=17, random_state=21)),
 (1.0, 0.796, DecisionTreeClassifier(max_depth=18, random_state=21)),
 (1.0, 0.796, DecisionTreeClassifier(max_depth=19, random_state=21))]

In [28]:
Q = []
for i in range(2,20):
    dtc = DecisionTreeClassifier(random_state=21,min_samples_leaf=i)
    Q.append(model(dtc))

In [29]:
Q

[(0.966, 0.827, DecisionTreeClassifier(min_samples_leaf=2, random_state=21)),
 (0.945, 0.827, DecisionTreeClassifier(min_samples_leaf=3, random_state=21)),
 (0.929, 0.83, DecisionTreeClassifier(min_samples_leaf=4, random_state=21)),
 (0.918, 0.796, DecisionTreeClassifier(min_samples_leaf=5, random_state=21)),
 (0.906, 0.813, DecisionTreeClassifier(min_samples_leaf=6, random_state=21)),
 (0.903, 0.796, DecisionTreeClassifier(min_samples_leaf=7, random_state=21)),
 (0.901, 0.806, DecisionTreeClassifier(min_samples_leaf=8, random_state=21)),
 (0.89, 0.813, DecisionTreeClassifier(min_samples_leaf=9, random_state=21)),
 (0.883, 0.816, DecisionTreeClassifier(min_samples_leaf=10, random_state=21)),
 (0.883, 0.816, DecisionTreeClassifier(min_samples_leaf=11, random_state=21)),
 (0.879, 0.813, DecisionTreeClassifier(min_samples_leaf=12, random_state=21)),
 (0.877, 0.823, DecisionTreeClassifier(min_samples_leaf=13, random_state=21)),
 (0.874, 0.83, DecisionTreeClassifier(min_samples_leaf=14, random_state=21)),
 (0.872, 0.833, DecisionTreeClassifier(min_samples_leaf=15, random_state=21)),
 (0.87, 0.83, DecisionTreeClassifier(min_samples_leaf=16, random_state=21)),
 (0.869, 0.83, DecisionTreeClassifier(min_samples_leaf=17, random_state=21)),
 (0.869, 0.83, DecisionTreeClassifier(min_samples_leaf=18, random_state=21)),
 (0.869, 0.83, DecisionTreeClassifier(min_samples_leaf=19, random_state=21))]

In [30]:
Q = []
for i in range(2,20):
    dtc = DecisionTreeClassifier(random_state=21,min_samples_split=i)
    Q.append(model(dtc))

In [31]:
Q

[(1.0, 0.796, DecisionTreeClassifier(random_state=21)),
 (0.995, 0.796, DecisionTreeClassifier(min_samples_split=3, random_state=21)),
 (0.989, 0.793, DecisionTreeClassifier(min_samples_split=4, random_state=21)),
 (0.974, 0.81, DecisionTreeClassifier(min_samples_split=5, random_state=21)),
 (0.966, 0.803, DecisionTreeClassifier(min_samples_split=6, random_state=21)),
 (0.957, 0.803, DecisionTreeClassifier(min_samples_split=7, random_state=21)),
 (0.949, 0.816, DecisionTreeClassifier(min_samples_split=8, random_state=21)),
 (0.943, 0.816, DecisionTreeClassifier(min_samples_split=9, random_state=21)),
 (0.94, 0.827, DecisionTreeClassifier(min_samples_split=10, random_state=21)),
 (0.937, 0.823, DecisionTreeClassifier(min_samples_split=11, random_state=21)),
 (0.933, 0.823, DecisionTreeClassifier(min_samples_split=12, random_state=21)),
 (0.923, 0.816, DecisionTreeClassifier(min_samples_split=13, random_state=21)),
 (0.923, 0.816, DecisionTreeClassifier(min_samples_split=14, random_state=21)),
 (0.923, 0.816, DecisionTreeClassifier(min_samples_split=15, random_state=21)),
 (0.918, 0.816, DecisionTreeClassifier(min_samples_split=16, random_state=21)),
 (0.918, 0.816, DecisionTreeClassifier(min_samples_split=17, random_state=21)),
 (0.918, 0.816, DecisionTreeClassifier(min_samples_split=18, random_state=21)),
 (0.917, 0.816, DecisionTreeClassifier(min_samples_split=19, random_state=21))]

In [32]:
Q = []
for i in range(2,20):
    rf = RandomForestClassifier(random_state=21,n_estimators=i)
    Q.append(model(rf))

In [33]:
Q

[(0.93, 0.847, RandomForestClassifier(n_estimators=2, random_state=21)),
 (0.961, 0.837, RandomForestClassifier(n_estimators=3, random_state=21)),
 (0.949, 0.871, RandomForestClassifier(n_estimators=4, random_state=21)),
 (0.968, 0.857, RandomForestClassifier(n_estimators=5, random_state=21)),
 (0.957, 0.874, RandomForestClassifier(n_estimators=6, random_state=21)),
 (0.979, 0.874, RandomForestClassifier(n_estimators=7, random_state=21)),
 (0.968, 0.878, RandomForestClassifier(n_estimators=8, random_state=21)),
 (0.986, 0.878, RandomForestClassifier(n_estimators=9, random_state=21)),
 (0.98, 0.867, RandomForestClassifier(n_estimators=10, random_state=21)),
 (0.991, 0.881, RandomForestClassifier(n_estimators=11, random_state=21)),
 (0.985, 0.878, RandomForestClassifier(n_estimators=12, random_state=21)),
 (0.994, 0.874, RandomForestClassifier(n_estimators=13, random_state=21)),
 (0.99, 0.874, RandomForestClassifier(n_estimators=14, random_state=21)),
 (0.994, 0.867, RandomForestClassifier(n_estimators=15, random_state=21)),
 (0.992, 0.867, RandomForestClassifier(n_estimators=16, random_state=21)),
 (0.995, 0.867, RandomForestClassifier(n_estimators=17, random_state=21)),
 (0.993, 0.867, RandomForestClassifier(n_estimators=18, random_state=21)),
 (0.996, 0.871, RandomForestClassifier(n_estimators=19, random_state=21))]

In [34]:
Q = []
for i in range(2,20):
    rf = RandomForestClassifier(random_state=21,n_estimators=11,max_depth=i)
    Q.append(model(rf))

In [35]:
Q

[(0.844,
  0.844,
  RandomForestClassifier(max_depth=2, n_estimators=11, random_state=21)),
 (0.853,
  0.857,
  RandomForestClassifier(max_depth=3, n_estimators=11, random_state=21)),
 (0.865,
  0.861,
  RandomForestClassifier(max_depth=4, n_estimators=11, random_state=21)),
 (0.878,
  0.854,
  RandomForestClassifier(max_depth=5, n_estimators=11, random_state=21)),
 (0.893,
  0.854,
  RandomForestClassifier(max_depth=6, n_estimators=11, random_state=21)),
 (0.917,
  0.867,
  RandomForestClassifier(max_depth=7, n_estimators=11, random_state=21)),
 (0.931,
  0.867,
  RandomForestClassifier(max_depth=8, n_estimators=11, random_state=21)),
 (0.944,
  0.864,
  RandomForestClassifier(max_depth=9, n_estimators=11, random_state=21)),
 (0.954,
  0.861,
  RandomForestClassifier(max_depth=10, n_estimators=11, random_state=21)),
 (0.974,
  0.861,
  RandomForestClassifier(max_depth=11, n_estimators=11, random_state=21)),
 (0.974,
  0.878,
  RandomForestClassifier(max_depth=12, n_estimators=11, random_state=21)),
 (0.982,
  0.871,
  RandomForestClassifier(max_depth=13, n_estimators=11, random_state=21)),
 (0.986,
  0.864,
  RandomForestClassifier(max_depth=14, n_estimators=11, random_state=21)),
 (0.991,
  0.867,
  RandomForestClassifier(max_depth=15, n_estimators=11, random_state=21)),
 (0.989,
  0.878,
  RandomForestClassifier(max_depth=16, n_estimators=11, random_state=21)),
 (0.991,
  0.881,
  RandomForestClassifier(max_depth=17, n_estimators=11, random_state=21)),
 (0.991,
  0.881,
  RandomForestClassifier(max_depth=18, n_estimators=11, random_state=21)),
 (0.991,
  0.881,
  RandomForestClassifier(max_depth=19, n_estimators=11, random_state=21))]

In [36]:
Q = []
for i in range(2,20):
    abc = AdaBoostClassifier(DecisionTreeClassifier(max_depth=3,random_state=21),n_estimators=i)
    Q.append(model(abc))

In [37]:
Q

[(0.87,
  0.85,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=2)),
 (0.873,
  0.854,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=3)),
 (0.888,
  0.833,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=4)),
 (0.893,
  0.827,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=5)),
 (0.902,
  0.83,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=6)),
 (0.905,
  0.81,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=7)),
 (0.907,
  0.827,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=8)),
 (0.916,
  0.83,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=9)),
 (0.922,
  0.833,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=10)),
 (0.922,
  0.82,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=11)),
 (0.926,
  0.82,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=12)),
 (0.929,
  0.81,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=13)),
 (0.936,
  0.82,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=14)),
 (0.935,
  0.81,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=15)),
 (0.943,
  0.799,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=16)),
 (0.946,
  0.806,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=17)),
 (0.951,
  0.813,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=18)),
 (0.955,
  0.827,
  AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3,
                                                           random_state=21),
                     n_estimators=19))]